:root {
	--main-font: "Roboto", sans-serif;
	--alternative-font: "Raleway", sans-serif;
	--background-color: #ffffff;
	--main-text-color: #212121;
	--secondary-text-color: #757575;
	--third-text-color: #ffffff;
	--header-contact-color: #757575;
	--line-color: #ececec;
	--footer-bacground-color: #2f303a;
	--h1-bacground-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--accent-color: #2196f3;
	--filter-button-bacground-color: #f5f4fa;
	--logo-color: #000000;
	--logo-second-color: #2196f3;
	--logo-third-color: #ffffff;
}
body {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.14;
	background-color: var(--background-color);
	color: var(--main-text-color);
}
.top-contact {
	color: var(--header-contact-color);
	letter-spacing: 0.02em;
}
.top-contact:hover {
	color: var(--accent-color);
}
.top-contact:focus {
	color: var(--accent-color);
}
.top-navigation {
	color: var(--main-text-color);
	letter-spacing: 0.02em;
}
.top-navigation:hover {
	color: var(--accent-color);
}
.top-navigation:focus {
	color: var(--accent-color);
}
.logo {
	font: var(--alternative-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--logo-color);
}
.logo-accent {
	color: var(--logo-second-color);
}
.logo-bottom {
	color: var(--logo-third-color);
}
footer {
	background-color: var(--footer-bacground-color);
}
.bottom-contact {
	color: var(--footer-text-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	font-style: normal;
}
.bottom-contact:hover {
	color: var(--accent-color);
}
.bottom-contact:focus {
	color: var(--accent-color);
}
.bottom-adress {
	color: var(--logo-third-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	font-style: normal;
}
.bottom-adress:hover {
	color: var(--accent-color);
}
.bottom-adress:focus {
	color: var(--accent-color);
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
h1 {
	font-size: 44px;
	font-weight: 900;
	line-height: 1.36;
	letter-spacing: 0.06em;
	background-color: var(--h1-bacground-color);
	height: 600px;
	width: 1600px;
	color: var(--logo-third-color);
	text-align: center;
}
.button-main-page {
	color: var(--logo-third-color);
	width: 200px;
	height: 50px;
	background-color: var(--accent-color);
	font-family: var(--main-font);
	font-size: 16px;
	font-weight: 700;
	border: none;
	border-radius: 4px;
	letter-spacing: 0.06em;
	text-align: center;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}
h3 {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.14;
}
p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: var(--header-contact-color);
}
h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}
h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}
.team-job {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}
