:root {
	--main-font: "Roboto", sans-serif;
	--background-color: #ffffff;
	--main-text-color: #212121;
	--secondary-text-color: #757575;
	--third-text-color: #ffffff;
	--header-contact-color: #757575;
	--line-color: #ececec;
	--footer-bacground-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--accent-color: #2196f3;
	--filter-button-bacground-color: #f5f4fa;
	--logo-color: #000000;
	--logo-second-color: #2196f3;
	--logo-third-color: #ffffff;
}
body {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0, 03em;
	line-height: 1, 14;
	background-color: var(--background-color);
	color: var(--main-text-color);
}
button {
	background-color: var(--filter-button-bacground-color);
	text-align: center;
	cursor: pointer;
	width: 121px;
	height: 38px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	font-family: var(--main-font);
	line-height: 1, 6;
	border-radius: 4px;
}
button:hover {
	color: var(--logo-third-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
button:focus {
	color: var(--logo-third-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
ul {
	list-style-type: none;
}
p {
	color: var(--secondary-text-color);
	font-weight: 400;
	line-height: 1, 87;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.current {
	color: var(--accent-color);
}
.top-contact {
	color: var(--header-contact-color);
	letter-spacing: 0.02em;
}
.top-contact:hover {
	color: var(--accent-color);
}
.top-contact:focus {
	color: var(--accent-color);
}
.top-navigation {
	color: var(--main-text-color);
	letter-spacing: 0.02em;
}
.top-navigation:hover {
	color: var(--accent-color);
}
.top-navigation:focus {
	color: var(--accent-color);
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1, 19;
	color: var(--logo-color);
}
.logo-accent {
	color: var(--logo-second-color);
}
.logo-bottom {
	color: var(--logo-third-color);
}
footer {
	background-color: var(--footer-bacground-color);
}
.bottom-contact {
	color: var(--footer-text-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	font-style: normal;
}
.bottom-contact:hover {
	color: var(--accent-color);
}
.bottom-contact:focus {
	color: var(--accent-color);
}
.bottom-adress {
	color: var(--logo-third-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	font-style: normal;
}
.bottom-adress:hover {
	color: var(--accent-color);
}
.bottom-adress:focus {
	color: var(--accent-color);
}
h2 > body {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
a {
	text-decoration: none;
}
